.warframeImage {
    background-color: white;
    background-image: url('../../assets/protea.png');
    box-shadow: 0 10px 20px -10px black;

    background-position: top;
    background-size:100%;
    filter: brightness(100%);
    background-repeat: no-repeat;
    height: 450px;
    margin: 20px;
    display: flex;
    /* padding: 200px 0; */
    justify-content: center;
    text-align:center;
    /* gap: 200px; */
    transform: translate3d(3.2px,-8px,0px);
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    position: relative;
    /* z-index: -10000; */

}

.weaponImage {
    background-color: white;
    background-image: url('../../assets/weaponimage.jpg');
    box-shadow: 0 10px 20px -10px black;

    background-position: center;
    background-size:100%;
    filter: brightness(100%);
    background-repeat: no-repeat;
    height: 450px;
    margin: 20px;
    display: flex;
    /* padding: 200px 0; */
    justify-content: center;
    text-align:center;
    /* gap: 200px; */
    transform: translate3d(3.2px,-8px,0px);
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    position: relative;
    /* z-index: -10000; */

}

.modImage {
    background-color: white;
    background-image: url('../../assets/modimage.png');
    box-shadow: 0 10px 20px -10px black;

    background-position: top;
    background-size:100%;
    filter: brightness(100%);
    background-repeat: no-repeat;
    height: 450px;
    margin: 20px;
    display: flex;
    /* padding: 200px 0; */
    justify-content: center;
    text-align:center;
    /* gap: 200px; */
    transform: translate3d(3.2px,-8px,0px);
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    position: relative;
    /* z-index: -10000; */
}

