/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

.container {
    /* width: 100%;
    height: 1000px;
    background-image: 'D:\javaworkspace\warframe_market\client\src\assets\loginbackground.webp';
    background-position: center;
    background-size: cover;
    position:relative; */
    

}