.footerContainer {
    position:static;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 12, 19);
    color: white;
    text-align: center;
    border: 1px, bkack;

}